POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=python_task

#dummy url var, works but please replace with real values
DATABASE_URL=postgresql://user:password@postgre:5432/python_task

SEED_ON_START=true

# Optional pgAdminVars
# PGADMIN_DEFAULT_EMAIL=
# PGADMIN_DEFAULT_PASSWORD=